{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="app">
    {% verbatim %}
        <p>{{ message }}</p>
        <p v-if="show">显示出来</p>
        <p v-if="hide">不显示出来</p>
    <input type="text" v-model='message'>
    {% endverbatim %}
</div>

<p>--------------------------------------------------------------</p>

<div id="app2">
    {% verbatim %}
        <p v-bind:title="message">悬停查看时间</p>
        <input v-bind:value="message">
    {% endverbatim %}
</div>

<p>--------------------------------------------------------------</p>

<div id="app3">
    {% verbatim %}
        <p v-if="seen">显示这里</p>
        <p v-if="see">显示这里</p>
    {% endverbatim %}
</div>

<p>--------------------------------------------------------------</p>

<div id="app4">
    {% verbatim %}
        <p v-for="todo in todos">{{ todo.text }}</p>
    {% endverbatim %}
</div>

<p>--------------------------------------------------------------</p>

<div id="app5">
    <p>haha</p>
    {% verbatim %}
        <p>{{ message }}</p>
    <button v-on:click="'reverseMessage">逆转消息</button>
    {% endverbatim %}
</div>

<p>--------------------------------------------------------------</p>

<div id="app6">
    {% verbatim %}
        <p>{{ message }}</p>
        <input v-model="message">
    {% endverbatim %}
</div>

<p>--------------------------------------------------------------</p>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
      show: true,
      hide: false
  }
});

var app2 = new Vue({
    el: '#app2',
    data: {
        message: '页面加载'+new Date().toLocaleString()
    }
});

var app3 = new Vue({
    el: '#app3',
    data: {
        seen: true,
        see: false
    }
});

var app4 = new Vue({
    el: '#app4',
    data: {
        todos: [
          { text: '学习 JavaScript' },
          { text: '学习 Vue' },
          { text: '整个牛项目' }
        ]
    }
});

var app5 = new Vue({
  el: '#app5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})

var app6 = new Vue({
  el: '#app6',
  data: {
    message: 'Hello Vue!'
  }
})

</script>

</body>
</html>