<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <mycom1></mycom1>
</div>

<!-- input输入转换成数字 -->

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>

<script>
    // 创建全局组件1
    // var com1 = Vue.extend({
    // template: '<h3>这个是全局组件..</h3>'
    // });
    //Vue.component('mycom1', com1); // 注册组件

    // 创建全局组件2
    Vue.component('mycom1', Vue.extend({
        template: '<h3>这个是全局组件..</h3>'
    })); // 注册组件

    var app = new Vue({
        el: '#app',
        data: {
            message: ''
        },
    })
</script>

</body>
</html>