<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <input type="text" v-model="firstname">+
    <input type="text" v-model="lastname">=
    <input type="text" v-model="fullname">
</div>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.1.2/vue-router.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            firstname: '',
            lastname: '',
            fullname: ''
        },
        methods: {},
        watch: { // 使用这个属性，　可以监视data中数据的变化,然后触发这个watch中对应的func函数
            'firstname': function () {
                console.log('间听到了变化');
                this.fullname = this.firstname + '-' + this.lastname;
            },
            'lastname': function () {
                console.log('间听到了变化');
                this.fullname = this.firstname + '-' + this.lastname;
            }
        },
    })
</script>

</body>
</html>
