<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <router-link to="/account">account</router-link>

    <router-view></router-view>
</div>

<template id="tmp1">
    <div>
        <h1>这是account组件</h1>

        <router-link to="/account/login">登录</router-link>
        <router-link to="/account/register">注册</router-link>

        <router-view></router-view>

    </div>
</template>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.1.2/vue-router.js"></script>

<script>

    var account = {
        template: '#tmp1'
    };

    var login = {
        template: '<h3>登录</h3>',
    };

    var register = {
        template: '<h3>注册</h3>'
    };

    var router = new VueRouter({
        routes: [
            {
                path: '/account',
                component: account,
                children: [
                    {path: 'login', component: login},
                    {path: 'register', component: register},
                ]
            },
        ]
    });

    var app = new Vue({
        el: '#app',
        data: {},
        methods: {},
        router // 挂载路由
    })
</script>

</body>
</html>
